// Here you can add other styles
.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #00838d;
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
  
  .card-equip {
    display: block;
    top: 0px;
    position: relative;
    height: 420px;
    color: #ffffff !important;
    border-radius: 4px;
    box-shadow: 20px 20px 15px 0 rgba(0,0,0,0.125);
    transition: box-shadow 0.25s ease-in-out;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    overflow: hidden;
    border: 1px solid #cccccc;
    cursor: pointer;
    
    .go-corner {
      background-color: #00838d;
      height: 100%;
      width: 16px;
      padding-right: 10px;
      border-radius: 0;
      transform: skew(4deg);
      margin-right: -36px;
      align-items: start;
      background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
    }
    
    .go-arrow {
      transform: skew(-5deg);
      margin-left: -2px;
      margin-top: 9px;
      opacity: 0;
    }
  
    &:hover {
      border: 1px solid #CD3D73;
  
      transition: all 0.2s ease-out;
      box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
      top: -4px;
      border: 1px solid #cccccc;
      background-color: white;
    }
  }
  
  .card-equip:hover {
    .go-corner {
      margin-right: -12px;
    }
    .go-arrow {
      opacity: 1;
    }
  }


  @media screen and(min-width: 1200px) and (max-width: 1600px) {
    h3 {
      font-size: 1.6rem;
    }
    h5 {
      font-size: 1.1rem;
    }
  }