// Variable overrides
$font-size-base:              1rem !default; // was: 1rem


// sidebar brand
// $sidebar-dark-brand-bg:              rgba($black, .2) !default;
$sidebar-dark-brand-bg:              #051e34 !default;

$sidebar-dark-nav-link-active-icon-color:#081d1b !default;

// $sidebar-dark-nav-link-hover-bg:           #7074af !default;
// $sidebar-dark-nav-link-active-bg:          #6054ec !default;
$sidebar-dark-nav-link-active-color: #98a8a0 !default;
$sidebar-dark-nav-link-active-bg: rgb(71, 100, 93) !default;
// $sidebar-dark-nav-link-active-bg:          #01814A !default;
$sidebar-dark-nav-link-hover-bg:          rgb(75, 110, 75) !default;

// $sidebar-dark-bg:#121716 !default;    // $sidebar-dark-bg: $gray-base !default;
$sidebar-dark-bg:#081d1b !default;
$sidebar-dark-nav-link-color: #98a8a0;;
$sidebar-dark-nav-link-icon-color: #98a8a0;


// @import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

$font-family-sans-serif: 'Noto Sans TC', sans-serif !default;

$cmodal-info-brand-bg:              #1a4166 !default;
$cbutton-info-brand-bg:             #1a4166 !default;
$ccardheader-info-connected-bg: 	#6cee5b !default;
$ccardheader-info-not-connected-bg: #c0c9cf !default;

$theme-colors: (
	"cmodal-info":	$cmodal-info-brand-bg,
	"cbutton-info": $cbutton-info-brand-bg,
	"ccardheader-info": $ccardheader-info-connected-bg,
	"ccardheader-nc-info": $ccardheader-info-not-connected-bg
);
